# Ignore everything
*

# Except these base files...
!.gitignore
!environment.yml
!requirements.txt
!geneset-extractor.Dockerfile
!geneset-extractor.apptainer.def
!geneset-extractor-liger.apptainer.def

# or these needed files
!CPTAC/config/study_manifest.tsv
!CPTAC/config/model_list.tsv
!CPTAC/config/model_manifest.tsv
!CPTAC/config/model_description_templates.tsv
!GTEx/config/age_binned_model_manifest.tsv
!GTEx/config/continuous_age_model_manifest.tsv
!GTEx/config/model_list.tsv
!GTEx/config/tissue_list.tsv
!GTEx/config/broad_tissue_list.tsv
!GTEx/config/model_description_templates.tsv
!MoTrPAC/config/model_list.tsv
!MoTrPAC/config/tissue_list.tsv
!MoTrPAC/config/model_manifest.tsv
!MoTrPAC/config/model_description_templates.tsv
!LINCS_L1000/config/model_list.tsv
!LINCS_L1000/config/model_manifest.tsv
!LINCS_L1000/config/model_description_templates.tsv
!HuBMAP/config/model_list.tsv
!HuBMAP/config/model_manifest.tsv
!HuBMAP/config/model_description_templates.tsv

# Allow traversing these subdirectories
!CPTAC/
!LINCS_L1000/
!RummaGEO/
!ExRNA/
!GTEx/
!IDG/
!Metabolomics/
!GlyGen/
!HuBMAP/
!MoTrPAC/
!KOMP2/
!src/
!run/
!proposals/
!docs/

!CPTAC/**/
!LINCS_L1000/**/
!RummaGEO/**/
!ExRNA/**/
!GTEx/**/
!IDG/**/
!Metabolomics/**/
!GlyGen/**/
!HuBMAP/**/
!MoTrPAC/**/
!KOMP2/**/
!src/**/
!run/**/
!proposals/**/
!docs/**/

# Allow certain filetypes
!src/**/*.py
!src/**/*.r
!src/**/*.R
!src/**/*.sh
!src/**/*.md

!run/**/*.py
!run/**/*.r
!run/**/*.R
!run/**/*.sh
!run/**/*.md

!proposals/**/*.py
!proposals/**/*.r
!proposals/**/*.R
!proposals/**/*.sh
!proposals/**/*.md

!docs/**/*.md

!LINCS_L1000/**/*.py
!LINCS_L1000/**/*.r
!LINCS_L1000/**/*.R
!LINCS_L1000/**/*.sh
!LINCS_L1000/**/*.md
!LINCS_L1000/**/*.pdf
!LINCS_L1000/**/*.png
!RummaGEO/**/*.py
!RummaGEO/**/*.r
!RummaGEO/**/*.R
!RummaGEO/**/*.sh
!RummaGEO/**/*.md
!RummaGEO/**/*.pdf
!RummaGEO/**/*.png
!ExRNA/**/*.py
!ExRNA/**/*.r
!ExRNA/**/*.R
!ExRNA/**/*.sh
!ExRNA/**/*.md
!ExRNA/**/*.pdf
!ExRNA/**/*.png
!GTEx/**/*.py
!GTEx/**/*.r
!GTEx/**/*.R
!GTEx/**/*.sh
!GTEx/**/*.md
!GTEx/**/*.pdf
!GTEx/**/*.png
!IDG/**/*.py
!IDG/**/*.r
!IDG/**/*.R
!IDG/**/*.sh
!IDG/**/*.md
!IDG/**/*.pdf
!IDG/**/*.png
!Metabolomics/**/*.py
!Metabolomics/**/*.r
!Metabolomics/**/*.R
!Metabolomics/**/*.sh
!Metabolomics/**/*.md
!Metabolomics/**/*.pdf
!Metabolomics/**/*.png
!GlyGen/**/*.py
!GlyGen/**/*.r
!GlyGen/**/*.R
!GlyGen/**/*.sh
!GlyGen/**/*.md
!GlyGen/**/*.pdf
!GlyGen/**/*.png
!HuBMAP/**/*.py
!HuBMAP/**/*.r
!HuBMAP/**/*.R
!HuBMAP/**/*.sh
!HuBMAP/**/*.md
!HuBMAP/**/*.pdf
!HuBMAP/**/*.png
!MoTrPAC/**/*.py
!MoTrPAC/**/*.r
!MoTrPAC/**/*.R
!MoTrPAC/**/*.sh
!MoTrPAC/**/*.md
!MoTrPAC/**/*.pdf
!MoTrPAC/**/*.png
!KOMP2/**/*.py
!KOMP2/**/*.r
!KOMP2/**/*.R
!KOMP2/**/*.sh
!KOMP2/**/*.md
!KOMP2/**/*.pdf
!KOMP2/**/*.png
!CPTAC/**/*.py
!CPTAC/**/*.r
!CPTAC/**/*.R
!CPTAC/**/*.sh
!CPTAC/**/*.md
!CPTAC/**/*.pdf
!CPTAC/**/*.png

archive/
